<ul>
{% for lista_de_reproducao in object_list %}
	<li>
		<p><a href="{{ lista_de_reproducao.get_absolute_url }}">{{ lista_de_reproducao.titulo }}</a></p>
		<p>{{ lista_de_reproducao.descricao }}</p>
	</li>
{% endfor %}
</ul>

{% if is_paginated %}
<div class="paginacao">
	<span class="paginacao-links">
		{% if page_obj.has_previous %}
		<a href="?page={{ page_obj.previous_page_number }}">anterior</a>
		{% endif %}
		<span class="page-current">
			P&aacute;gina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
		</span>
		{% if page_obj.has_next %}
		<a href="?page={{ page_obj.next_page_number }}">pr&oacute;xima</a>
		{% endif %}
	</span>
</div>
{% endif %}